<html>
<head>
    <title>Welcome page </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Train+One|Syne+Mono">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>

<div id="header">
    <h1>Youtube Downloader<h1>
</div>
<div>
    <h2 style="font-family: 'Syne Mono'; text-align: center; font-size: 40;">Enter Youtube URL<h2>
<div>
<div>
    <form style="text-align: center;" action="{{ url_for('hello_world') }}" method="post">
        <input style="width: 40%; height: 50px;" type="url" id="Link" name="YoutubeLink">
        <input style="height: 50px; font-size: 20px; padding-bottom: 5px;" type="submit" value="Submit">
    </form>
</div>
</body>
</html>