<html>
<head>
    <title>Welcome page </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Train+One|Syne+Mono">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>

<div id="header">
    <h1>Youtube Downloader<h1>
</div>
<div>
    <h2 id="youtube">Enter Youtube URL<h2>
<div>
<div id="youtubeForm">
    <form action="{{ url_for('hello_world') }}" method="post">
        <input id="Link" type="url"  name="YoutubeLink">
        <br>
        <button name="MP3">MP3</button>
        <button name="MP4">MP4</button>
        <br>
    </form>
</div>
</body>
</html>