<html>
<head>
<title>Welcome page </title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Train+One">
</head>
<body>

<div style="background-color: #c7c7c7; padding-top: 50px; padding-bottom: 50px;">
    <h1 style="font-family: 'Train One'; font-size: 60; text-align: center;">Youtube Downloader<h1>
</div>

Please enter your Youtube url:

<form action="{{ url_for('hello_world') }}" method="post">
    <input type="url" id="Link" name="YoutubeLink">
    <input type="submit" value="Submit">
</form>
</body>
</html>